services:
  - type: web
    name: nlp-on-tweets
    env: python
    plan: free
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
      cd ml/backend
      python manage.py collectstatic --noinput
    startCommand: cd ml/backend && gunicorn backend.wsgi:application --bind 0.0.0.0:$PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: ALLOWED_HOSTS
        value: nlp-on-tweets.onrender.com
